<!-- <p>
  product works!
</p> -->

<h2>Bikes</h2>
<p class="alert alert-success">{{message}}</p>
<form>
  <div class="col-md-12">
    <input [(ngModel)]="newProduct.model" placeholder="Model" name="model"  class="form-control" />
  </div>
  <div  class="col-md-12">
    <input [(ngModel)]="newProduct.manufacturer" placeholder="Manufacturer" name="manufacturer" class="form-control" />
  </div>
  <button (click)="createProduct(newProduct)" class="btn btn-primary">Create Bike</button>

  <br/>
  <br/>

  <div>
    <div *ngFor="let product of products" (click)="showInfo(product)">
      <span>
        {{product.model}}
      </span>
      |
      <span>
        {{product.manufacturer}}
      </span>
      <span>
        <button (click)="deleteProduct(product); $event.stopPropagation()">Delete</button>
      </span>
    </div>
  </div>
</form>

<!-- <div>
  <ul>
      <li *ngFor="let product of products">
        <span class="badge">{{ product.id }}</span><br>
        {{ product.model }} <br>
        {{ product.manufacturer }} <br>
      </li>
  </ul>
</div> -->